db.sqlite3
chefsTable/__pycache__/*

myapp/__pycache__/*
chefsTable/__pycache__/settings.cpython-312.pyc
chefsTable/__pycache__/urls.cpython-312.pyc
myapp/__pycache__/admin.cpython-312.pyc
myapp/__pycache__/forms.cpython-312.pyc
myapp/__pycache__/models.cpython-312.pyc
myapp/__pycache__/urls.cpython-312.pyc
myapp/__pycache__/views.cpython-312.pyc
db.sqlite3
myapp/migrations/0002_person.py
myapp/migrations/0003_remove_newproperty_test.py
myapp/migrations/__pycache__/0002_person.cpython-312.pyc
myapp/migrations/__pycache__/0003_owner_userprofile.cpython-312.pyc
myapp/migrations/__pycache__/0003_remove_newproperty_test.cpython-312.pyc
Test/__pycache__/__init__.cpython-312.pyc
Test/__pycache__/admin.cpython-312.pyc
Test/__pycache__/apps.cpython-312.pyc
Test/__pycache__/forms.cpython-312.pyc
Test/__pycache__/models.cpython-312.pyc
Test/__pycache__/urls.cpython-312.pyc
Test/__pycache__/views.cpython-312.pyc
Test/migrations/0001_initial.py
Test/migrations/0002_rename_first_name_addproperty_name_and_more.py
Test/migrations/__pycache__/__init__.cpython-312.pyc
Test/migrations/__pycache__/0001_initial.cpython-312.pyc
Test/migrations/__pycache__/0002_rename_first_name_addproperty_name_and_more.cpython-312.pyc
chefsTable/__pycache__/settings.cpython-312.pyc
chefsTable/__pycache__/urls.cpython-312.pyc
myapp/__pycache__/admin.cpython-312.pyc
myapp/__pycache__/forms.cpython-312.pyc
myapp/__pycache__/models.cpython-312.pyc
myapp/__pycache__/urls.cpython-312.pyc
myapp/__pycache__/views.cpython-312.pyc
